@import controllers.UserController.PwReset
@(user: User)(pwResetForm : Form[PwReset])(sumPrice: Integer)
@import helper._


@layout("Elfelejtett jelszó")(user)(sumPrice) {
    <h1 align="center">Pizza Papa</h1>


    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Elfelejtett jelszó</h2>
                <p>Add meg az email címed</p>
                @if(flash.containsKey("danger")){
                    <div class="alert alert-danger">
                        @flash().get("danger")
                        <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                }
            </div>

            @form(action=routes.UserController.askResetPasswordPost()) {
                @CSRF.formField
                @inputText(pwResetForm("email"), 'class -> "form-control", '_showConstraints -> false, '_label -> null, 'placeholder -> "Email")

                <button type="submit" class="btn btn-primary">dewit</button>
            }

        </div>
    </div>

}