@import controllers.UserController.PwReset
@import helper._
@(user: User)(pwResetForm : Form[PwReset])(sumPrice: Integer)
@implicitField = @{ FieldConstructor(fieldConstructorTemplateTextArea.f) }


@layout("Forgot password")(user)(sumPrice) {



    <table id="tablepadding">
        <tr><td>  </td></tr>
    </table>

    @form(action=routes.UserController.askResetPasswordPost()) {
        @CSRF.formField
    <table class="keretlog">
        <tr>
            <td colspan="5">
                @if(flash.containsKey("danger")){
                    <div class="alert alert-danger">
                        @flash().get("danger")
                        <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                }
            </td>
        </tr>

        <tr><td height="50"></td></tr>

        <tr>
            <td colspan="5" class="inputfontreglog">Email</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                @inputText(pwResetForm("email"), 'class -> "uinput")

            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td class="font header" align="center" colspan="5"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-warning bttne">Send</button></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5"><label class="hiba"></label></td>
        </tr>
    </table>
    }

    <table height="200"></table>

}