@import controllers.UserController.NewPassword
@(user: User)(newPasswordForm : Form[NewPassword])(sumPrice: Integer)
@import helper._
@implicitField = @{ FieldConstructor(fieldConstructorTemplateTextArea.f) }


@layout("New Password")(user)(sumPrice) {



    <table id="tablepadding">
        <tr><td>  </td></tr>
    </table>
    @if(flash.containsKey("danger")){
        <div class="alert alert-danger">
            @flash().get("danger")
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    }
    <table class="keretlog">

        @form(action=routes.UserController.resetPasswordPost(request().uri().split("/").last)) {

            @CSRF.formField
            <tr>
                <td colspan="5"></td>
            </tr>

            <tr><td height="50"></td></tr>

            <tr>
                <td colspan="5" class="inputfontreglog">New password</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    @inputPassword(newPasswordForm("newPW1"), 'class -> "uinput")

                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="5" class="inputfontreglog">New password again</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    @inputPassword(newPasswordForm("newPW2"), 'class -> "uinput")
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="font header" align="center" colspan="5"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-warning bttne">Change</button></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5"><label class="hiba"></label></td>
            </tr>
        }
    </table>


    <table height="200"></table>

}